# FastAPI et dépendances principales
fastapi
uvicorn[standard]
python-multipart

# Base de données
sqlalchemy
asyncpg
alembic
psycopg2-binary

# Analytics et HTTP
httpx
apscheduler

# Authentification et sécurité
passlib[bcrypt]
python-decouple
python-dotenv
python-jose[cryptography]


sentry-sdk
structlog


pytest
pytest-asyncio
pydantic